<p-card>
  <ng-template pTemplate="header">
    <ul class="nav nav-pills mx-3">
      <li class="nav-item"
        *ngFor="let step of steps"
        [ngClass]="{
          active: step.isActive && !isCompleted,
          enabled: !step.isDisabled && !isCompleted,
          disabled: step.isDisabled,
          completed: isCompleted
        }"
      >
        <a class="nav-link" (click)="goToStep(step)">{{ step.title }}</a>
      </li>
    </ul>
  </ng-template>

  <ng-content></ng-content>

  <ng-template pTemplate="footer">
    <div class="d-flex" *ngIf="!isCompleted">
      <button
        type="button"
        class="btn btn-outline-secondary me-auto"
        (click)="previous()"
        [hidden]="!hasPrevStep || !activeStep.showPrev"
      >
        Voltar
      </button>

      <button
        type="button"
        class="btn btn-primary ms-auto"
        (click)="next()"
        [disabled]="!activeStep.isValid"
        [hidden]="!hasNextStep || !activeStep.showNext"
      >
        Próximo
      </button>

      <button
        type="button"
        class="btn btn-primary float-right"
        (click)="complete()"
        [disabled]="!activeStep.isValid"
        [hidden]="hasNextStep"
      >
        Finalizar
      </button>
    </div>
  </ng-template>
</p-card>
