<div class="container">
  <section class="demo">
    <h1>Wizard</h1>

    <div style="height: 350px">
      <pucx-wizard (onStepChanged)="onStepChanged($event)" (onNext)="onNextWizard()" (onPrev)="onPrevWizard()" (onComplete)="onCompleteWizard()">

        <pucx-step
          [title]="'Passo 01'"
          [isValid]="emailForm.form.valid"
          (onNext)="onStep1Next()"
        >
          <p class="lead">Email é obrigatório para ir para o próximo passo.</p>
          <form #emailForm="ngForm">
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                name="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter email"
                [(ngModel)]="data.email"
                required
              />
            </div>
          </form>
        </pucx-step>

        <pucx-step
          [title]="'Passo 02'"
          [showNext]="step2.showNext"
          [showPrev]="step2.showPrev"
          (onNext)="onStep2Next()"
          (onPrev)="onStep2Previous()"
        >
          <p class="lead">
            Você também pode controlar quando mostrar/esconder os botões de navegação.
          </p>
          <form>
            <div class="form-check">
              <label class="form-check-label">
                <input
                  type="checkbox"
                  class="form-check-input"
                  name="showNext"
                  [(ngModel)]="step2.showNext"
                />
               Mostrar o botão Próximo
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input
                  type="checkbox"
                  class="form-check-input"
                  name="showPrev"
                  [(ngModel)]="step2.showPrev"
                />
                Mostrar o botão Voltar
              </label>
            </div>
          </form>
        </pucx-step>

        <pucx-step [title]="'Passo 03'" (onNext)="onStep3Next()" (onPrev)="onStep3Previous()">
          <form>
            <div class="form-check">
              <label class="form-check-label">
                <input
                  type="checkbox"
                  class="form-check-input"
                  name="secret"
                  [(ngModel)]="step3.showSecret"
                />
                Exibir passo oculto
              </label>
            </div>
          </form>
        </pucx-step>

        <pucx-step [title]="'Passo oculto'" [hidden]="!step3.showSecret" (onHidden)="onStepHidden($event)">
          <p class="lead">
            Passo oculto
          </p>
        </pucx-step>

        <pucx-step [title]="'Passo 04'" (onComplete)="onComplete()" (onPrev)="onStep4Previous()">
          <div [ngSwitch]="isCompleted">
            <div *ngSwitchDefault>
              <p class="lead">Esse é o passo final</p>
            </div>
            <div *ngSwitchCase="true">
              <h4>
                Você completou todos os passos.
              </h4>
            </div>
          </div>
        </pucx-step>

      </pucx-wizard>
    </div>
  </section>
</div>
